* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: rgb(249, 245, 245);
}

.header {
    height: 8vh;
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
}

.headerinalti {
    height: 92vh;
    width: 100%;
    display: flex;
}

.solteref {
    background-color: rgb(50, 50, 50);
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.user {
    background-color: rgb(90, 90, 90);
    width: 220px;
    margin: 10px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
}

.bosluq {
    height: 350px;
}

p {
    margin-top: 10px;
}

h1 {
    margin-top: 1vh;
}
.home{
    padding: 15px;
}
.profile{
    padding: 15px;
}
.messages{
    padding: 15px;
}
.settings {
    padding: 15px;
}
.maviyazi{
    background-color: cadetblue;
    width: 1250px;
    height: 50px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    padding-left:10px ;
}
.lorem{
    background-color: white;
    height: 580px;
    width: 96%;
    margin-left: 23px;
}
.lorem{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
}